header {
    @include flexYCentered(space-around);
    background-color: #edad61;
    color: $header_font_color;
    border-radius: $top_radius;
    font-size: $main_font_size;
    @include bolderUpperCase;

    padding: 1em 0;

    .titles {
        cursor: pointer;
    }

    .titles, div {
        @include bolderUpperCase;
        flex: 0 1 50%;
        text-align: center;
    }
}
