.rating_panel_wrapper {
    width: 100%;
    text-align: center;
    display: none;
    font-size: $smaller_font_size;
    color: $listing_font_color;
    & > * {
        margin: 0.5em auto;
        &:not(:last-child)::after {
            @include divider;
            display: block;
            width: 80%;
            margin: 0.5em auto 0 auto;
        }
    }
    button {
        @include sizing(1em, 1em);
    }
}
.distribution {
    &::before {
        @include divider;
        width: 80%;
        display: block;
        width: 80%;
        margin: 0 auto;
    };
}
.rating_table {
	margin: 0 auto;
    width: 80%;
    max-width: 260px;
}

.rating_row {
	display: flex;
	min-height: 22px;
}
.star_counter {
	flex: 0 1 15%;
	margin: 1px 3px 0 0;
}
.rating_percentage_visualition {
	flex: 0 1 70%;
	margin: 1px 6px;
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.4),inset 0 0 0 1px rgba(0,0,0,.1);
}
.rating_percentage_number {
	flex: 0 1 15%;
	margin: 1px 0 0 3px;
}
.progress_bell {
	background-color: yellow;
	width: 0%;
	height: 100%;
	min-height: 22px;
}
.hovered {
    color: $star_color;
}
