<table class="rating_table">
    <tbody class="rating_display_container">
        {{#each stars}}
        <tr class="rating_row">
            <td class="star_counter">{{this}}</td>
            <td class="rating_percentage_visualition">
                <div class="progress_bell"></div>
            </td>
            <td class="rating_percentage_number"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
